.quote-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-left:20%;
    border-radius: 15px;
    padding: 10px;
    border: 50px;
    position: sticky;
    width: 80%;
}

.quote-list__header {
  font-family: 'Roboto', sans-serif;
  left: 50px;
  position: fixed;
}