.quote-form__control.invalid textarea {
    border-color: red;
    background: #ffd7d7;
  }
  
  .quote-form__control.invalid label {
    color: red;
  }

  button {
    background-color: rgba(50, 90, 140, .3);
    border-radius: 50%;
    border: .5px solid rgba(50, 90, 140, .3);
    width: 50%;
    color: aliceblue;
  }
